
/* .about-text {
    flex: 1 0 auto !important;
    margin-bottom: 55vh;
} */
.visible.transition {
    display: flex !important;
}
.App {
    display: flex;
    min-height: 75vh;
    flex-direction: column;
}



.ui.menu .active.item{
    color: rgba(0, 238, 0, 0.993) !important;
}

.list-container {
    overflow-y: 'scroll' !important;
    height: '400px' !important;
}
.footer {
    flex-shrink: 0 !important;
}

.ui.compact.primary.button {
    background: rebeccapurple;
}
.ui.compact.secondary.button {
    background: rgb(255, 21, 72);
}


.ui.inverted.segment, .ui.primary.inverted.segment {
    background-image: url('./Img/DigitalSunset.jpg') !important;
    background-repeat: no-repeat !important;
    /* background-attachment: fixed !important; */
    background-position: center !important;
}

.ui.secondary.inverted.pointing.menu .active.item {
    color: limegreen !important;
}