
.about-text {
    flex: 1 0 auto !important;
    margin-bottom: 55vh;
}

body {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important; /* Avoid the IE 10-11 `min-height` bug. */
  }

.footer {
    flex-shrink: 0 !important;
}


.ui.inverted.segment, .ui.primary.inverted.segment {
    background-image: url('./Img/DigitalSunset.jpg') !important;
    background-repeat: no-repeat !important;
    /* background-attachment: fixed !important; */
    background-position: center !important;
}

.ui.secondary.inverted.pointing.menu .active.item {
    color: limegreen !important;
}